@import url("https://fonts.googleapis.com/css?family=Share+Tech");

.App {
  font-family: "Share Tech";
  text-align: center;
  display: flex;
  flex-direction: column;
}

.controls {
  flex: 1;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
}

.control {
  position: relative;
  flex: 1;
  text-align: center;
  padding: 10px 0 0 0;
  border-bottom: 1px solid #000;
}

button.Auto {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  font-family: "Share Tech";
  background-color: #e0e0e0;
  outline: none;
}

button.Auto.on {
  background-color: #a0e0a0;
}

.output {
  flex: 3;
}

canvas {
  width: 100vw;
  height: 75vh;
}

@media (min-width: 800px) {
  .App {
    flex-direction: row;
  }
  .controls {
    flex-direction: column;
    border-right: 1px solid #000;
  }
  .control {
    padding: 10px;
  }
  .controls > div:last-of-type {
    border: 0;
  }
  canvas {
    width: 75vw;
    height: 100vh;
  }
}
