.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.controls {
  flex: 1;
  background-color: #f8f8f8;
  border-right: 1px solid #000;
}

.output {
  flex: 3;
}

canvas {
  width: 75vw;
  height: 100vh;
}

.Cog {
  width: 50%;
}
